# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#example 
example/common/*.lst
example/demo/*.dll
example/demo/*.exe
example/demo/src/*.lst
example/platform/sdl2/sgl_objs
example/platform/stm32f676/OBJ
example/platform/stm32f676/OBJ/*
#tool
tools/LvglFontTool/*.ini

push.sh
